@import '../../../partials/colors';
@import '../../../partials/reset';
@import '../../../partials/shadows';

body{
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background: linear-gradient(130deg, $dark-blue-color 0%, $dark-purple-color 15%, $dark-red-color 30%, $B-dark-background-color 100%);

    header{

        &.startscreen{
            // background-color: rgba(243, 243, 243, 0.139);
            padding: 80px 8%;
            display: flex;
            align-items: center;
            gap: 50px;

            img{
                
            }
            h1{
                font-size: 85px;
                background: linear-gradient(90deg, $blue-color, $red-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: $white-shadow;
            }
            h3{
                font-size: 50px;
                color: $blue-color;
                width: 500px;
                margin-right: 50px;
            }
            .startscreen__line{
                background: linear-gradient(130deg, #ffffff00 0%, $B-text-color 100%);;
                width: 100%;
                height: 6px;
            }
            
        }

    }
    .register {
        color: white;
    }
}


