@import '../../../partials/colors';
@import '../../../partials/reset';
@import '../../../partials/shadows';
@import '../../../partials/animations';


body{
    section.startscreen{
        overflow: hidden;
        height: 100vh;
        max-height: 100%;
        max-width: 100%;
        background: linear-gradient(130deg, $dark-blue-color 0%, $dark-purple-color 15%, $dark-red-color 25%, $B-dark-background-color 65%);

        header{

            &.startscreen{
                // background-color: rgba(243, 243, 243, 0.139);
                padding: 80px 8%;
                display: flex;
                align-items: center;
                gap: 50px;
    
                .logo{
                    display: flex;
                    justify-content: space-between;
                    gap: 50px;
                    width: 30%;
                }
                h1{
                    font-size: 85px;
                    background: linear-gradient(90deg, $blue-color, $red-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: $white-shadow;
                }
                h3{
                    font-size: 50px;
                    color: $blue-color;
                    width: 500px;
                    margin-right: 50px;
                }
                .startscreen__line{
                    background: linear-gradient(130deg, #ffffff00 0%, $B-text-color 100%);;
                    width: 100%;
                    height: 6px;
                }
                
            }
    
        }
        .content{
            // background-color: rgba(255, 255, 255, 0.158);
            margin: 0px 8%;
            display: flex;
            gap: 50px;

            .pyramid-container{
                z-index: 5;
                padding-top: 100px;
                padding-right: 20px;
                width: 45vw;
                img{
                    width: 100%;
                }
            }
            .form-transition {
                padding-top: 50px;
                padding-bottom: 50px;
                transition: 
                    transform 0.3s ease-in-out,
                    opacity 0.3s ease,
                    background 0.5s ease
                ;
              }
              .form-HIDDEN {
                transform: translateX(0);
                opacity: 1;
                background: #ffffff00;
                
              }
              .form-VISIBLE {
                transform: translateX(-100%);
                opacity: 0;
                background: #ffffff6f;
              }
              

            .forms-container{
                position: relative;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, #ffffff00 0%, #ffffff32 100%);
                backdrop-filter: blur(50px);
                form{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0px;
                    bottom: 0;

                    .register,
                    .login{
                        width: 100%;
                        padding: 10px 60px;
                    }

                    &:nth-child(1){
                        position: relative;
                    }

                    input[type='file'] {
                        display: none;
                    }
                    .top-container{
                        width: 100%;
                        columns: 2;
                        gap: 50px;
    
                        .input-container{
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            width: 100%;
                            gap: 20px;
                            margin-bottom: 40px;
                            position: relative;
    
                            label{
                                color: $red-color;
                                font-size: 20px;
                                font-weight: bold;
                                span{
                                    color: $blue-color;
                                 }
                            }
                            input{
                                color: $B-text-color;
                                font-size: 16px;
                                background: none;
                                padding: 10px 0;
                                border: none;
                                outline: none;
                                display: inline-block;
                                &::placeholder{
                                    color: #aaaaaa;
                                }
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                background-size: 200% 100%;
                                background-image: linear-gradient(to right, #fff, $light-purple-color, #fff);
                                animation: underlineAnimation 5s linear infinite;
                            }
                        }
                        .input-container:nth-child(even){
                            label{
                                color: $blue-color;
                                span{
                                   color: $red-color;
                                }
                            }
                        }
                    }
                    .login .top-container{ columns: 1; width: 100%;}
                    .bottom-container{
                        padding-top: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        a {
                            cursor: pointer;
                            color: $light-purple-color;    
                            text-decoration: none;
                            transition: text-decoration 5s ease;

                            span{
                                color: #ffffff;
                            }
                            &:hover{
                                text-decoration: underline;
                            }

                            &.btn-HIDDEN{ display: none;}
                        }
                        .__2 {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                        input[type="button"], 
                        input[type="submit"]{
                            cursor: pointer;
                            background: #6b86ff24;
                            border: 3px solid $L-background-color;
                            border-radius: 10px;
                            color: $L-background-color;
                            padding: 8px 30px;
                            font-weight: bold;
                            font-size: 18px;
                            transition: 
                                background 0.3s ease,
                                color 0.3s ease,
                                border 0.3s ease,
                                shadow 0.3s ease
                            ;
    
                            &:hover{
                                background: $L-dark-background-color;
                                color: $L-text-color;
                                border: 3px solid $L-background-color;
                                box-shadow: $normal-shadow;
                            }
                        }
                        input[type="submit"]{
                            background-color: rgba(0, 128, 0, 0.174);
                            &:hover{
                                background-color: lightgreen;
                                color: darkgreen;
                                border: 3px solid lightgreen;
                            }
                        }
                    }
                    h2.title{ color: $L-background-color; font-size: 18px; margin-bottom: 20px}
                    .second{
                        columns: 2;
                        >*{ overflow: hidden; }
                        .profile-picture{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            label{
                                color: $red-color;
                                font-size: 24px;
                                font-weight: bold;

                                &.add{
                                    color: $L-background-color;
                                    font-size: 16px;
                                    text-decoration: underline;
                                    cursor: pointer;
                                    transition: color 0.2s ease;
                                    &:hover{color: #fff7;}
                                }
                            }

                            *.image{
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                background-size: cover;
                                background-position: center;

                                &.PH{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 30px;
                                    color: $L-background-color;
                                    background: #fff2;
                                }
                            }
                        }
                    }
                    .right-side{
                        display: flex;
                        flex-direction: column;
                        gap: 70px;

                        .input-container{
                            display: grid;
                            gap: 12px;
                            position: relative;
                            width: 100%;

                            label{color: $blue-color; font-weight: bold; font-size: 24px;}
                            input {
                                padding: 10px 10px;
                                color: #fff;
                                background-color: #ffffff00;
                                border: none;
                                outline: none;
                                border-bottom: 2px solid #fff;
                                font-size: 17px;
                            
                                /* Remove the calendar icon */
                                &::-webkit-calendar-picker-indicator {
                                  position: relative;
                                  width: 65%;
                                  z-index: 1; /* Set a lower z-index value for the indicator */
                                  background-color: rgba(173, 216, 230, 0);
                                  opacity: 0;
                                }
                            }
                            select {
                                padding: 10px 10px;
                                width: 100%;
                                border: none;
                                border-radius: 10px;
                                outline: none;
                                font-size: 15px;
                                font-weight: bold;
                                color: $B-dark-background-color;
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;

                                /* Custom down arrow */
                                background-image: url("\assets\dropdown-arrow.svg");
                                background-repeat: no-repeat;
                                background-position: 95% center;
                                background-size: 20px;
                                /* Styling options */
                            }
                        }
                    }
                }
                form.login{
                    margin-left: 0%;
                    .login{
                        width: 80%;
                    }
                }
            }
            .error-section{
                width: 23vw;
                margin-right: 50px;

                h3{
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    span{ color: $red-color; font-size: 24px;}
                }
                *.__container{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    box-shadow: $normal-shadow;
                    padding-top: 15px;
                    border-top: 2px solid #ffffff38;
                    
                    > *{
                        background: linear-gradient(45deg, $red-color, $dark-red-color);
                        padding: 5px 10px;
                        color: $L-background-color;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
}


