@import '../partials/colors';

.register {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(255,214,226);
    background: linear-gradient(149deg, rgb(255, 181, 203) 0%, rgba(230,235,255,1) 70%);
}