@keyframes underlineAnimation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes switchAnimation {
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    90%{
        opacity: 1;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  @keyframes switchAnimation-2 {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    80%{
        opacity: 0.4;
        transform: translateX(-50px);
    }
    90%{
        opacity: 0.6;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
  }

  .animated-path {
    stroke-dashoffset: 0;
    stroke-dasharray: 85.53 85.53;
    animation: dash 0.25s linear infinite;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: -171.06;
    }
  }
  
  @keyframes loading-right {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
  }
  @keyframes loading-left {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
  }
  