@keyframes underlineAnimation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes switchAnimation {
    0% {
        transform: scale(0.0) translateY(-300px) rotate(360deg);
        opacity: 0;
    }
    30% {
        transform: scale(0.2) rotate(-360deg);
        opacity: 0.5;
    }
    60% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0.6;
    }
    75% {
        transform: rotate(0deg);
        opacity: 0.6;
    }
    90% {
        transform: scale(1.02) translateY(20px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0px) rotate(0deg);
        opacity: 1;
    }
  }
  
  @keyframes switchAnimation-2 {
    0% {
        transform: scale(0.0) translateY(-300px) rotate(360deg);
        opacity: 0;
    }
    30% {
        transform: scale(0.2) rotate(-360deg);
        opacity: 0.5;
    }
    60% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0.6;
    }
    75% {
        transform: rotate(0deg);
        opacity: 0.6;
    }
    90% {
        transform: scale(1.02) translateY(20px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0px) rotate(0deg);
        opacity: 1;
    }
  }

  @keyframes option--switchAnimation-2 {
    0% {
        transform: scale(0.2) translateY(-300px);
        opacity: 0;
      }
      70% {
        transform: scale(1.02) translateY(20px);
        opacity: 1;
      }
      100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
      }
  }