@keyframes underlineAnimation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes switchAnimation {
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    80%{
        opacity: 0.4;
        transform: translateX(50px);
    }
    90%{
        opacity: 0.6;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  @keyframes switchAnimation-2 {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    80%{
        opacity: 0.4;
        transform: translateX(-50px);
    }
    90%{
        opacity: 0.6;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
  }

  .animated-path {
    stroke-dashoffset: 0;
    stroke-dasharray: 85.53 85.53;
    animation: dash 0.15s linear infinite;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: -171.06;
    }
  }
  
  @keyframes loading-right {
    0%{
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
    5%{
        backdrop-filter: blur(100px);
        background: linear-gradient(to right, $blue-color, $red-color);
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
        background: linear-gradient(to right, $blue-color, $red-color);
        backdrop-filter: blur(500px);
    }
    75%{
        opacity: 0.2;
    }
    95%{
        backdrop-filter: blur(100px);
        background: linear-gradient(to right, $blue-color, $red-color);
    }
    100%{
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
  }
  @keyframes loading-left {
    0%{
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
    5%{
        backdrop-filter: blur(100px);
        background: linear-gradient(to right, $red-color, $blue-color);
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
        background: linear-gradient(to right, $red-color, $blue-color);
        backdrop-filter: blur(500px);
    }
    75%{
        opacity: 0.2;
    }
    95%{
        backdrop-filter: blur(100px);
        background: linear-gradient(to right, $red-color, $blue-color);
    }
    100%{
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
  }
  