// Normal Color variables

    $blue-color: #4361EE;
    $purple-color: #684BC2;
    $red-color: #D11149;


// MODIFIED -- Normal Color variables 

    // Light
    $light-blue-color: #7B8EE7;
    $light-purple-color: #C3B0FE;
    $light-red-color: #DE557D;

    // Dark
    $dark-blue-color: #040E3E;
    $dark-purple-color: #0E0529;
    $dark-red-color: #500A1E;


// Theme color variables

    // Dark theme
    $B-background-color: #46484F;
    $B-dark-background-color: #272932;
    $B-text-color: #fff;

    // Light theme
    $L-background-color: #FFFFFF;
    $L-dark-background-color: #F5F5F5;
    $L-text-color: #272932;


